nav, .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: clamp(1rem, 1.25vw, 1rem);
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 0;
}

nav {
    margin-bottom: 2rem;
}

/* Light mode */
.light-nav {
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Dark mode */
.dark-nav {
    background-color: #1e1e1e;
    color: #f5f5f5;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.light-mode, .dark-mode {
    border-radius: 50%;
}

.dark-mode {
    background-color: #333;
}

.footer-container {
    margin-top: 2rem;
}

.left-nav, .left-footer {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.right-nav > ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    cursor: pointer;
}

.right-nav ul li:hover {
    color: black;
    transition: color 0.2s ease;
}

.right-footer > a {
    text-decoration: none;
    color: #333;
}

.right-footer > a:hover {
    color: #010000;
}